/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 80vh;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
/* rtl:begin:ignore */
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}
/* rtl:end:ignore */


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
/* rtl:begin:remove */
.featurette-heading {
  letter-spacing: -.05rem;
}

/* rtl:end:remove */

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}


/* Author: Hina Okazaki */
/* nav var */
.navbar-collapse {
  flex-grow: unset;
}

/* Home page Section01 */
.section01-img {
  width: 300px;
  height: 300px;
  border-radius: 5%;
}

.p-section-title {
  font-size: 40px;
  text-align: center;
  margin: 5% 0; 
} 

.fw-normal {
  margin: 5%;
}

.btn-secondary {
  background-color: #3C8668;
  border-color: #3C8668;
}

.home-video {
  max-width: 100%;
  min-height: 315px;
}

.carousel-item-secondary {
  height: 50vh;
}

.section02 {
  display: flex;
  flex-direction: row-reverse;
}

.section03 {
  display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
}

.form {
  margin: 5%;
  min-width: 50%;
}

.form-group {
  margin-bottom: 2%;
}

.form-opinion {
  height: 100px;
}

.hp-c-title {
  font-size: 2em;
  text-align: center;
}